.bar {
    background-color: rgb(100, 6, 119);
    width: 1%;
    border:0;
    padding-top: 0%;
    padding-left:2px;
    color: blanchedalmond;

}
.column {
    background-color: black;
    border: black solid 2px;
    padding-left:0px;
    padding-right:0px;
    margin: 0%;
    width: 10px;
    vertical-align: top;
}
body{
    background: black;
    background-size: cover;

}

.slidecontainer{
  
    width:35%;
    height:10px;
}
.slider{
    padding-left: 190%;
    -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 10%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  color: black;
}

input[type=range] {
   
  border: none;
   margin: 0%;
    width:33%;
    padding-bottom: 0px;
    padding-left: 1%;
}
.border-cover{
    height: 38px;
    padding-top: 10px; 
    border: solid 2px rgb(100, 6, 119);
    background-color: black;
    font-weight: bold;
}



.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(80, 7, 95); /* Green background */
    color: white;
    cursor: pointer; /* Cursor on hover */
  }

  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(80, 7, 95);/* Green background */
    color: white;
    cursor: pointer; /* Cursor on hover */
  }



.btn:focus{
    border: solid 2px rgb(100, 6, 119);
    background-color: black;
    font-weight: bold;
    color: white;
}
    
.btn:hover{
    color: black;
        background-color: rgb(204, 83, 228);
    }
    

  .btn{ 
    border: solid 2px rgb(100, 6, 119);
    background-color: black;
    font-weight: bold;
}

  .top-padding{
    padding: 1%;
  }

  .font{
    font-size: 1rem;
  }

  @media only screen and (min-width: 320px) {
    /* For tablets: */
    .parent {width: 100%;}
    .slidecontainer {width: 100%;}
    input[type=range] {
   
      border: none;
       margin: 0%;
        width:25%;
        padding-bottom: 0px;
        padding-left: 1%;
    }
  }
  @media only screen and (min-width: 360px) {
    /* For tablets: */
    .root{width: 100%;}
    .parent {width: 100%;}
    .slidecontainer {width: 100%;}
    input[type=range] {
   
      border: none;
       margin: 0%;
        width:36%;
        padding-bottom: 0px;
        padding-left: 1%;
    }
  }

  @media only screen and (min-width: 375px) {
    /* For tablets: */
    .root{width: 100%;}
    .parent {width: 100%;}
    .slidecontainer {width:50%;}
    input[type=range] {
   
      border: none;
       margin: 0%;
        width:36%;
        padding-bottom: 0px;
        padding-left: 1%;
    }
  }
  @media only screen and (min-width: 411px) {
    /* For tablets: */
    .parent {width: 360px;}
    .slidecontainer {width: 50%;}
    input[type=range] {
   
      border: none;
       margin: 0%;
        width:30%;
        padding-bottom: 0px;
        padding-left: 1%;
    }
  }
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .parent {width: 100%;}
    .slidecontainer {width: 10%;}
    input[type=range] {
   
      border: none;
       margin: 0%;
        width:30%;
        padding-bottom: 0px;
        padding-left: 1%;
    }
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .parent {width: 100%; padding-left: 10%;}
    .slidecontainer {width: 50%;}
    input[type=range] {
   
      border: none;
       margin: 0%;
        width:30%;
        padding-bottom: 0px;
        padding-left: 1%;
    }
  }